---
jws:
  supported_install_method: [zipfiles, rpm]
  install_method: "{{ jws_install_method }}"
  install_dir: "{{ jws_install_dir }}"
  check_jws_ss_absent: "{{ jws_check_jws_ss_absent | default(True) }}"
  rpm: "{{ jws_rpm }}"
  rpm_root_dir: "{{ jws_rpm_root_dir }}"
  user: "{{ jws_user }}"
  uid: "{{ jws_uid }}"
  group: "{{ jws_group }}"
  gid: "{{ jws_gid }}"
  base: "{{ jws_catalina_base }}"
  conf:
    properties: "{{ jws_conf_properties }}"
    policy: "{{ jws_conf_policy }}"
    logging: "{{ jws_conf_loggging }}"
    context: "{{ jws_conf_context }}"
    server: "{{ jws_conf_server }}"
    web: "{{ jws_conf_web }}"
    users: "{{ jws_conf_users }}"
    jaspic_providers: "{{ jws_conf_jaspic_providers }}"
    templates:
      context: "{{ jws_conf_templates_context }}"
      server: "{{ jws_conf_templates_server }}"
      web: "{{ jws_conf_templates_web }}"
      catalina_properties: "{{ jws_conf_templates_catalina_properties }}"
  apps:
    to_remove: "{{ jws_apps_to_remove.split(',') }}"
  shutdown:
    port: "{{ jws_shutdown_port }}"
  listen:
    http:
      port: "{{ jws_listen_http_port }}"
      bind_address: "{{ jws_listen_http_bind_address }}"
      enabled: "{{ jws_listen_http_enabled }}"
    https:
      port: "{{ jws_listen_https_port }}"
      bind_address: "{{ jws_listen_https_bind_address }}"
      enabled: "{{ jws_listen_https_enabled }}"
      servername: "{{ jws_listen_https_servername }}"
      threads:
        max: "{{ jws_listen_https_threads_max }}"
      connection:
        timeout: "{{ jws_listen_https_connection_timeout }}"
      headers:
        max_size: "{{ jws_listen_https_headers_size }}"
      keystore:
        file: "{{ jws_listen_https_keystore_file }}"
        password: "{{ jws_listen_https_keystore_password }}"
      client:
        auth: "{{ jws_listen_https_client_auth }}"
    ajp:
      enabled: "{{ jws_listen_ajp_enabled }}"
      address: "{{ jws_listen_ajp_address }}"
      port: "{{ jws_listen_ajp_port }}"
      secretRequired: "{{ jws_listen_ajp_secret_required }}"
      secret: "{{ jws_listen_ajp_secret }}"
  vault:
    package_name: "{{ jws_tomcat_vault_rpm_name }}"
    keystore: "{{ jws_tomcat_vault_keystore }}"
    enable: "{{ jws_tomcat_vault_enabled }}"
    alias: "{{ jws_tomcat_vault_alias }}"
    storepass: "{{ jws_tomcat_vault_storepass }}"
    iteration: "{{ jws_tomcat_vault_iteration }}"
    salt: "{{ jws_tomcat_vault_salt }}"
    properties: "{{ jws_tomcat_vault_properties }}"
    data: "{{ jws_tomcat_vault_data }}"
  mod_cluster:
    enable: "{{ jws_modcluster_enabled }}"
    ip: "{{ jws_modcluster_ip }}"
    port: "{{ jws_modcluster_port }}"
    connector_port: "{{ jws_modcluster_connector_port }}"
    advertise: "{{ jws_modcluster_advertise | string | lower }}"
    stickySession: "{{ jws_modcluster_sticky_session | string | lower }}"
    stickySessionForce: "{{ jws_modcluster_sticky_session_force | string | lower }}"
    stickySessionRemove: "{{ jws_modcluster_sticky_session_remove | string | lower }}"
  service:
    enabled: "{{ jws_systemd_enabled }}"
    name: "{{ jws_service_name }}"
    systemd: "{{ jws_service_systemd }}"
    type: "{{ jws_service_systemd_type }}"
    hr_name: "{{ 'Jboss Web Server' if jws_version is defined else 'Tomcat' }}"
