*.zip
*.tar.gz
.tmp
.cache
.ansible
docs/plugins/
docs/roles/
docs/_build/
.pytest_cache/
.mypy_cache/
*.retry
changelogs/.plugin-cache.yaml
changelogs/fragments/*.yml
changelogs/fragments/*.yaml
inventory
molecule/local_with_native/apache-tomcat*
