*.zip
*.tar.gz
.tmp
.cache
docs/plugins/
docs/roles/
docs/_build/
.pytest_cache/
.mypy_cache/
*.retry
changelogs/.plugin-cache.yaml
inventory

# Ignore JWS zips
molecule/tomcat-vault/resources/jws-*.zip
