# {{ ansible_managed }}
# Systemd unit file for default tomcat
[Unit]
Description={{ jws.service.hr_name }}
After=syslog.target network.target

[Service]
Type={{ jws.service.type }}
EnvironmentFile={{ jws_service_conf }}
ExecStart={{ jws_service_script }} start
PIDFile={{ jws_service_pidfile }}
#SuccessExitStatus=143
User={{ jws.user }}
UMask=027

[Install]
WantedBy=multi-user.target
