---
tomcat_apps_to_remove: "{{ override_tomcat_apps_to_remove | default('docs,ROOT,examples') }}"
tomcat:
  supported_install_method: "local_zipfiles,rhn_zipfiles,rpm"
  install_method: "{{ tomcat_install_method | default('local_zipfiles') }}"
  rpm: "{{ override_tomcat_rpm | default('jws5') }}"
  rhn:
    server_zipfile_url: https://access.redhat.com/jbossnetwork/restricted/softwareDownload.html?softwareId=90341
    native_zipfile_url: https://access.redhat.com/jbossnetwork/restricted/softwareDownload.html?softwareId=90361
    username: "{{ rhn_username | default('') }}"
    password: "{{ rhn_password | default('') }}"
  user: "{{ override_tomcat_user | default('tomcat') }}"
  group: "{{ override_tomcat_group | default('tomcat') }}"
  home: "{{ tomcat_home | default('/opt/jws-5.4/tomcat') }}"
  base: "{{ tomcat_catalina_base | default(lookup('env','CATALINA_BASE')) }}"
  conf:
    properties: "{{ override_tomcat_conf_properties | default('./conf/catalina.properties') }}"
    policy: "{{ override_tomcat_conf_policy | default('./conf/catalina.policy') }}"
    logging: "{{ override_tomcat_conf_loggging | default('./conf/logging.properties') }}"
    context: "{{ override_tomcat_conf_context | default('./conf/context.xml') }}"
    server: "{{ override_tomcat_conf_server | default('./conf/server.xml') }}"
    web: "{{ override_tomcat_conf_web | default('./conf/web.xml') }}"
    templates:
      context: "{{ override_tomcat_conf_templates_context | default('templates/context.xml.j2') }}"
      server: "{{ override_tomcat_conf_templates_server | default('templates/server.xml.j2') }}"
      web: "{{ override_tomcat_conf_templates_web | default('templates/web.xml.j2') }}"
  apps:
    to_remove: "{{ tomcat_apps_to_remove.split(',') }}"
  shutdown:
    port: "{{ override_tomcat_shutdown_port | default('8005') }}"
  listen:
    http:
      port: "{{ override_tomcat_listen_http_port | default('8080') }}"
      bind_address: "{{ override_tomcat_listen_http_bind_address | default('localhost') }}"
      enabled: "{{ override_tomcat_listen_http_enabled | default('yes') }}"
    https:
      port: "{{ override_tomcat_listen_https_port | default('8443') }}"
    ajp:
      enabled: "{{ override_tomcat_listen_ajp_enabled | default('False') }}"
      address: "{{ override_tomcat_listen_ajp_address | default('::1') }}"
      port: "{{ override_tomcat_listen_ajp_port | default('8009') }}"
      secretRequired: "{{ override_tomcat_listen_ajp_secretRequired | default('True') }}"
      secret: "{{ override_tomcat_listen_ajp_secret | default('secret') }}"
  vault:
    name: "{{ override_tomcat_vault_name | default('vault.keystore') }}"
    enable: "{{ override_tomcat_vault_enable | default('False') }}"
    alias: "{{ override_tomcat_vault_alias | default('my_vault') }}"
    storepass: "{{ override_tomcat_vault_storepass | default('123456') }}"
    iteration: "{{ override_tomcat_vault_iteration | default('44') }}"
    salt: "{{ override_tomcat_vault_salt  | default('1234abcd') }}"
    properties: "{{ override_tomcat_vault_properties | default('/conf/vault.properties') }}"
  mod_cluster:
    enable: "{{ override_tomcat_modcluster_enable | default('False') }}"
    ip: "{{ override_tomcat_modcluster_ip | default('127.0.0.1') }}"
    port: "{{ override_tomcat_modcluster_port | default('6666') }}"
  service:
    enabled: "{{ tomcat_systemd_enabled | default('False') }}"
    name: "{{ tomcat_service_name | default('jws5-tomcat.service') }}"
    conf: "{{ tomcat_home }}/conf/tomcat.conf"
    script: "{{ tomcat_home }}/bin/systemd-service.sh"
    systemd: "{{ override_tomcat_service_systemd | default('/usr/lib/systemd/system/tomcat.service') }}"
    pidfile: "{{ tomcat_home }}/tomcat.pidfile"
