---
- ansible.builtin.include_tasks: user.yml
  when:
    - tomcat_user is defined
    - tomcat_uid is defined

- ansible.builtin.include_tasks: group.yml
  when:
    - tomcat_group is defined
    - tomcat_gid is defined

- ansible.builtin.include_tasks: service_status.yml
  when:
    - tomcat_service_name is defined

- ansible.builtin.include_tasks: catalina_out.yml
  when:
    - tomcat_catalina_logfile is defined

- name: "Ensure Tomcat HTTP connector is started and listen to the appropriate port"
  ansible.builtin.include_tasks: check_connector_port.yml
  vars:
    bind_address: "{{ tomcat_listen_http_bind_address }}"
    listen_port: "{{ tomcat_listen_http_port }}"
  when:
    - tomcat_listen_http_bind_address is defined
    - tomcat_listen_http_port is defined

- name: "Ensure Tomcat HTTPS connector is started and listen to the appropriate port"
  ansible.builtin.include_tasks: check_connector_port.yml
  vars:
    bind_address: "{{ tomcat_listen_https_bind_address }}"
    listen_port: "{{ tomcat_listen_https_port }}"
  when:
    - tomcat_listen_https_enabled is defined
    - tomcat_listen_https_bind_address is defined
    - tomcat_listen_https_port is defined

- name: "Ensure Tomcat AJP connector is started and listen to the appropriate port"
  ansible.builtin.include_tasks: check_connector_port.yml
  vars:
    bind_address: "{{  tomcat_listen_ajp_bind_address }}"
    listen_port: "{{  tomcat_listen_ajp_port }}"
  when:
    - tomcat_listen_ajp_enabled is defined
    - tomcat_listen_ajp_bind_address is defined
    - tomcat_listen_ajp_port is defined
