---
- name: Perform download from RHN using JBoss Network API
  delegate_to: localhost
  run_once: yes
  become: "{{ rhn_download_become | default(False) }}"
  when:
    - not jws_offline_install
    - archive_path is defined
    - archive_path.stat is defined
    - not archive_path.stat.exists
  block:
    - name: Search for product to download using JBoss Network API
      ansible.builtin.include_tasks: rhn/search.yml
      vars:
        rhn_product_type: DISTRIBUTION
        rhn_product_version: "{{ jws_version.split('.')[:2] | join('.') }}"
        rhn_product_category: "{{ jws_product_category }}"

    - name: Determine install zipfile from search results
      ansible.builtin.set_fact:
        rhn_filtered_products: "{{ rhn_products.results | selectattr('file_path', 'match', '[^/]*/' + path_to_zipfile_local | basename + '$') }}"
      delegate_to: localhost
      run_once: yes

    - name: Download Red Hat JWS
      ansible.builtin.include_tasks: rhn/download.yml
      vars:
        rhn_product_id: "{{ (rhn_filtered_products | first).id }}"
        rhn_product_path: "{{ path_to_zipfile_local }}"
