---
- name: Check arguments
  ansible.builtin.assert:
    that:
      - rhn_server_zipfile_url is defined
      - rhn_server_zipfile_url | length > 0
    quiet: true

- name: "Include fetch and unarchive from RHN tasks"
  ansible.builtin.include_tasks: fetch_zipfile_from_rhn_and_deploy.yml
  vars:
    zipfile: "{{ zipfile_name }}"
    zipfile_url: "{{ rhn_server_zipfile_url }}"
    path_to_zipfile: "{{ jws_install_dir }}/{{ zipfile_name }}"
  when:
    - zipfile_name is defined

- name: "Include fetch and unarchive from RHN tasks"
  ansible.builtin.include_tasks: fetch_zipfile_from_rhn_and_deploy.yml
  vars:
    zipfile: "{{ jws_native_zipfile }}"
    zipfile_url: "{{ rhn_native_zipfile_url }}"
    path_to_zipfile: "{{ jws_install_dir }}/{{ jws_native_zipfile }}"
  when:
    - jws_native_zipfile is defined
