---
- set_fact:
    tomcat_zipfile: "jws-{{ jws_version }}-application-server.zip"
    native_zipfile: "jws-{{ jws_version }}-application-server-RHEL{{ ansible_facts['distribution_major_version'] }}-x86_64.zip"
  when:
    - jws_version is defined

- assert:
    that:
      - tomcat_zipfile is defined
      - tomcat_zipfile != ""
    quiet: true
    fail_msg: "With {{ tomcat.install_method }} install method, 'tomcat_zipfile' needs to be defined (or at least jws_version)"

- set_fact:
    zipfiles:
      - { src: "{{ tomcat_zipfile }}", creates: "{{ tomcat.home }}" }

- block:
    - set_fact:
        native_zipfiles:
          - { src: "{{ native_zipfile }}", creates: "{{ tomcat.home }}/lib/libtcnative-1.so" }

    - set_fact:
        zipfiles: "{{ zipfiles }} + {{ native_zipfiles }}"
  when:
    - native_zipfile is defined
    - native_zipfile != ""

- name: "Install tomcat and required binaries from local zipfiles (install method: {{ tomcat.install_method }}"
  unarchive:
    remote_src: yes
    src: "{{ item.src }}"
    dest: "{{ workdir }}"
    owner: "{{ tomcat.user }}"
    group: "{{ tomcat.group }}"
    mode: 0750
    creates: "{{ item.creates }}"
  loop: "{{ zipfiles }}"
