---
- name: Check arguments
  ansible.builtin.assert:
    that:
      - jws is defined
      - jws.install_method is defined
      - jws.install_method in jws.supported_install_method
    quiet: true
    fail_msg: "{{ jws.install_method }} does not exist or is not supported. Supported methods are: {{ jws.supported_install_method }}"

- name: "Display install method"
  ansible.builtin.debug:
    msg: "Install method: {{ jws.install_method }}"

- name: "Set defaults values based on facts (if values not provided)"
  ansible.builtin.include_tasks: install/defaults.yml

- name: "Include installation tasks for zipfiles method"
  ansible.builtin.include_tasks: install/url.yml
  when:
    - jws.install_method == 'zipfiles'

- name: "Include installation tasks for local_zipfiles method"
  ansible.builtin.include_tasks: install/local.yml
  when:
    - jws.install_method == 'local_zipfiles'

- name: "Include installation tasks for zip operations"
  ansible.builtin.include_tasks: install/zipfiles.yml
  when:
    - jws.install_method != 'rpm'

- name: "Include installation tasks for rpm method"
  ansible.builtin.include_tasks: install/rpm.yml
  when:
    - jws.install_method == 'rpm'
