---
- block:

    - set_fact:
        tomcat_java_packages_EL: "java-{{ tomcat_java_version }}-openjdk"

    - name: "Install {{ tomcat_java_packages_EL }}"
      include_tasks: fastpackage.yml
      vars:
        package_name: "{{tomcat_java_packages_EL}}"
  when:
    - tomcat_java_version is defined
    - ansible_os_family == "RedHat"
